.res{
    padding: 10px;
    text-align: center;
    color: #184f83;
    font-size: 24px;
}

h1{
    margin: 10px;
    padding: 10px;
    background-color: #184f83;
    color: #f6674d;
    text-align: center;
    border-radius: 10px;
}

.resultado{
    font-size: 36px;
}

.cja1{
    max-width: 90%;
    margin: 10px;
    padding: 8px;
    border-radius: 10px;
    color: #f6674d;
    font-size: 18px;
}

.button{
    background-color: #232324;
    border-radius: 5px;
    color: #f6674d;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 4px 2px;
    cursor: pointer;
}