h1{
    background-color: #eb5534;
    color: #cfc9c8;
    text-align: center;
}
.res{
    padding: 15px;
    margin: 5px;
    text-align: center;
    color: #1f1918;
    font-size: 24px;
}
.button{
    background-color: #1f1918;
    border-radius: 5px;
    color: #cfc9c8;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 4px 2px;
    cursor: pointer;
}